library/
temp/
bin/
obj/
xcode/
builds/
logs/
.vs/
.gradle/
*/UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.booproj
*.DS_Store

ffmpeg.exe

!SimpleGif/**/*.sln
!SimpleGif/**/*.csproj

!AssetStoreCalculator/**/*.sln
!AssetStoreCalculator/**/*.csproj